<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.linkit_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_main"
        android:label="LINK IT"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.LINKIT_Android">
        <activity android:name=".splash.ui.SplashActivity"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.ui.NotificationActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".portfolio.ui.ProjectActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".portfolio.ui.EducationActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".portfolio.ui.IntroductionActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".profile.ui.RecommendActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".signup.SignUpPartActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".signup.SignUpProfileActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".signup.SignUpActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Theme.RedTheme" />
        <activity
            android:name=".chatting.ui.ChatRoomActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".profile.ui.ProfileActivity"
            android:theme="@style/Theme.RedTheme" />
        <activity
            android:name=".upload.ui.UploadActivity"
            android:theme="@style/Theme.RedTheme" />
        <activity
            android:name=".upload.ui.PostingActivity"
            android:theme="@style/Theme.RedTheme" />
        <activity
            android:name=".mypage.ui.RecommendListActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".mypage.ui.PostingListActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <activity
            android:name=".main.ui.MainActivity"
            android:theme="@style/Theme.WhiteTheme" />
        <service android:name=".util.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_noti" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red_splash" />
    </application>

</manifest>